
.blog-section{
    margin: auto;
    padding: 40px 20px;
}
.blog-section h1{
    font-weight: 600;
    font-size: 2em;
    margin-top: 20px;
    max-width: 1100px;
    margin: auto;
}
.grid-layout{
    max-width: 1400px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    display: grid;
    gap: 20px;
}

/* .grid-item{
    
} */

.grid-item h2{
    font-size: 1.5em;
}

.grid-image{
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.prod1{
    background-image: url('/public/assets/product1.png');
}
.prod2{
    background-image: url('/public/assets/product2.png');
}
.prod3{
    background-image: url('/public/assets/product3.png');
}

.item-info{
    margin-top: 17px;
}


.item-info .categorie{
    color: #FF553C;
    text-transform: uppercase;
    margin-right: 7px;
}
.item-info .time{
    color: rgb(177, 171, 171);

}

@media screen and (max-width:750px) {
    .blog-section h1 {
        margin-left: 0px;
    }
    
}